body {
    background-image: url(../images/soft_circle_scales.png);
    padding: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background-color: #8F84B5;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    display: inline-block;
}

img {
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
}

p {
    padding-bottom: 15px;
}

#crystal-buttons {
    text-align: center;
}

#game-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.7em;
    color: #fff;
}

#win-no, #loss-no, #score-calc {
    color: #fff;
    font-weight: bold;
}

#total-tally, #score-calc {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}